/* SHADOWS
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    
    //material design
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

*/

$color-main: #c1dcdc;
$color-black: #1e1e1e;
$color-black-5: rgba($color-black, 0.5);
$color-black-25: rgba($color-black, 0.25);

$color-red: #d92d20;

@mixin respond($breakpoint) {
  @if $breakpoint == smallest {
    @media only screen and (max-width: 27.5em) {
      @content;
    } //440px
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 46.25em) {
      @content;
    } //740px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 62.5em) {
      @content;
    } //1000px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 81em) {
      @content;
    } //~1300px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 120em) {
      @content;
    } //1920px
  }
}

* {
  padding: 0;
  margin: 0;
  line-height: 1;
}

html {
  //10px
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;

  @include respond(phone) {
    //9px
    font-size: 50%;
  }

  @include respond(big-desktop) {
    //12px
    font-size: 75%;
  }
}

body {
  font-size: 1.6rem;
  color: $color-black;
}

ul {
  list-style: none;
}

/* key frames */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/*  */

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/*  */

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/*  */

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/*  */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
